.DS_Store
xcshareddata/
Pod*
xcuserdata/
GoogleService-Info.plist
emulatorbackup
firebase-export*
Website/Server/settings.py
__pycache__/
.vscode/
build/
*.mobileprovision
*.cer
fastlane/report.xml
.gcloudignore
yeshivat-torat-shraga-1358031cf751.json
node_modules/
*.cache
