{% extends 'base.html' %}
{% block content %}

<form action="{% if article is none %} {{ url_for('news_create') }}
  {% else %} {{ url_for('news_detail', ID=article.id) }} {% endif %}" id="news" method="post">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" name="title" id="title" class="form-control"
      value="{% if article is not none %}{{article.title}}{% endif %}" required />
  </div>

  <br>

  <div class="form-group">
    <label for="author">Author</label>
    <input type="text" name="author" id="author" class="form-control"
      value="{% if article is not none %}{{article.author}}{% endif %}" required />
  </div>

  <br>

  <div class="form-group">
    <label for="body">Content</label>
    <textarea form="news" type="text" name="body" id="body" class="form-control" style="min-height: 200px;"
      onload="this.innerHTML=''" required>{% if article is not none %}{{article.body}}{% endif %}</textarea>
  </div>

  <br>


  <!-- Make a checkbox if the article is not None -->
  <div class="form-group">
    <label for="send_badge">Badge app icon</label>
    <input type="checkbox" name="send_badge" id="send_badge" {% if article is none %}checked{% endif %} />
  </div>


  <div class="form-group">
    <button type="submit">Submit changes to Firebase</button>
  </div>
</form>

{% if article is not none %}
<form action="{{ url_for('news_delete', ID=article.id) }}" method="post">
  <div class="form-group">
    <button style="color:red;" type="submit">Delete article</button>
  </div>
</form>
{% endif %}

{% endblock content %}