{% extends 'base.html' %}
{% block content %}
<form action="#" method="post">
	<div class="form-group">
		<label for="title">Title<span>Use title case to get a better result</span></label>
		<input
			type="text"
			name="title"
			id="title"
			class="form-control"
			value="{{ shiur.title }}"
			required
		/>
	</div>
	<div class="form-group">
		<label for="title">Description<span>Small bite-size discription of the shiur</span></label>
		<input
			type="text"
			name="description"
			id="title"
			class="form-control"
			value="{{ shiur.description }}"
		/>
	</div>
    <div class="form-group">
		<label for="author">Author<span>Pick the Rebbi this shiur will be attributed to</span></label>
		<select name="author" id="rabbi" class="form-control" value="value" required>
			{% for rabbi in rabbis %}
                {% if rabbi.name == shiur.author %}
			        <option value="{{ rabbi.id }}~{{ rabbi.name }}" selected>{{ rabbi.name }} </option>
                {% else %}
                    <option value="{{ rabbi.id }}~{{ rabbi.name }}">{{ rabbi.name }}</option>
                {% endif %}
			{% endfor %}
		</select>
	</div>


	<br>

	<div class="form-group">
		<button type="submit">Submit changes to Firebase</button>
	</div>
</form>

<form action="{{ url_for("shiurimDetail", ID=ID) }}" method="post">
    <div class="form-group">
		<button style="color:white; background:" type="submit">Delete Shiur</button>
	</div>
</form>

{% endblock content %}