{% extends 'base.html' %} {% block content %}
<link rel="stylesheet" href="/static/bootstrap-datetimepicker.min.css">
<script src="/static/bootstrap-datetimepicker.min.js"></script>
<style>
  td i.fa {
    color: lightskyblue
  }
</style>
<form action="/shiurim/upload" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="title">Title<span>Use title case to get a better result</span></label>
    <input type="text" name="title" id="title" class="form-control"
      placeholder="The title that will show up in the Shraga App" required />
  </div>

  <!-- <div class="form-group">
    <label for="description">
      Description
      <span>Small bite-size discription of the shiur</span>
    </label>
    <input type="text" name="description" id="description" class="form-control"
      placeholder="An optional description that will be displayed in the app" />
  </div> -->

  <div class="form-group">
    <label for="author">
      Author
      <span>Pick the Rebbi this shiur will be attributed to</span>
    </label>
    <select name="author" id="rabbi" class="form-control" required>
      <option hidden disabled selected value></option>
      {% for rabbi in rabbis %}
      <option value="{{ rabbi.id }}~{{ rabbi.name }}">{{ rabbi.name }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="form-group">
    <label for="tags">
      Category
      <span>Select a category to be associated with this Shiur.</span>
    </label>

    <select name="tag" id="tags" class="form-control" required>
      <option selected disabled></option>
      {% for tag in tags %}
      {% if not tag.isParent %}
      <option value="{{ tag.id }}">{{ tag.displayName }}</option>
      {% endif %}
      {% endfor %}
    </select>

    <!-- <input type="text" placeholder="Content tag" class="flexdatalist form-control" data-min-length="1"
      multiple="multiple" list="tag-list" name="tags" />

    <datalist id="tag-list">
      {% for tag in tags %}
      {% if not tag.isParent %}
      <option value="{{tag.name}}">{{ tag.displayName }}</option>
      {% endif %}
      {% endfor %}
    </datalist> -->
  </div>

  <div class="form-group" style="display:none;">
    <label for="type">
      File Type<span>Choose the type of file you are uploading</span>
    </label>
    <select name="type" id="type" class="form-control" required>
      <option selected value="audio">Audio recording</option>
      <!-- <option disabled value="video">Video recording</option> -->
    </select>
  </div>

  <div class="form-group" style="display:none;">
    <label for="date">
      Date<span>Select the time and date of the recording. Default is now.</span>
    </label>
    <input type="text" name="date" id="datePicker" class="form-control" readonly required>
  </div>

  <div class="form-group file-area">
    <label for="file">
      Shiur<span>This <strong>must</strong> be an audio file.</span>
    </label>
    <input type="file" id="file" name="file" required />
    <div class="file-dummy">
      <div class="success">File uploaded successfully</div>
      <div class="default">Please select one shiur</div>
    </div>
  </div>

  <br />

  <div class="form-group">
    <button type="submit" class="success">Submit Shiur</button>
  </div>
</form>

<script>
  /*$(".flexdatalist").flexdatalist({
    noResultsText:
      "Press ENTER ↵ to add <strong>{keyword}</strong> as a new tag.",
    placeholder: "Add a tag to the video",
  });*/

  $('#datePicker').datetimepicker({
    format: 'YYYY-MM-DD HH:mm:ss',
    defaultDate: new Date(),
    sideBySide: true,
    ignoreReadonly: true,
  });
</script>
{% endblock content %}