{% extends 'base.html' %}
{% block content %}

<style>
    .inline {
        display: inline;
    }

    .link-button {
        background: none;
        border: none;
        color: blue;
        text-decoration: underline;
        cursor: pointer;
        font-size: 1em;
        font-family: serif;
        text-transform: unset;
        padding: unset;
        text-shadow: unset;

    }

    .link-button:focus {
        outline: none;
    }

    .link-button:active {
        color: red;
    }
</style>

<table class="table table-dark table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">-</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Date</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">
                <a class="success" href="{{ url_for('shiurim_upload') }}"><b>New<br></b></a>
            </th>
            <td colspan="4"></td>
        </tr>
        {% for shuir in data %}
        <tr>
            <th scope="row">
                <a href="{{ url_for('shiurimDetail', ID=shuir.id) }}">
                    <b>Edit</b>
                </a>
                <br>
                <form method="post" action="{{ url_for('shiurim_delete', ID=shuir.id) }}" class="inline">
                    <input type="hidden" name="extra_submit_param" value="extra_submit_value">
                    <button type="submit" name="submit_param" value="submit_value" class="link-button"
                        style="color:red;"><b>Delete</b>
                    </button>
                </form>
                </td>
            <td>{{ shuir.title }}</td>
            <td>{{ shuir.author }}</td>
            <td>
                <script>
                    document.write(new Date("{{ shuir.date }}".replace(" ", "T")).toLocaleDateString());
                </script>
            </td>
            <td>
                {% if shuir.description %}
                {{ shuir.description }}
                {% else %}
                <i>No description</i>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}