<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>3976870161-n67eldr7ksn12j44v8j5pgoill9fpebh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.3976870161-n67eldr7ksn12j44v8j5pgoill9fpebh</string>
	<key>API_KEY</key>
	<string>AIzaSyDa3auRoQvs-CRShVFxXhN3NpGmDArX4iQ</string>
	<key>GCM_SENDER_ID</key>
	<string>3976870161</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reesedevelopment.Yeshivat-Torat-Shraga</string>
	<key>PROJECT_ID</key>
	<string>yeshivat-torat-shraga</string>
	<key>STORAGE_BUCKET</key>
	<string>yeshivat-torat-shraga.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:3976870161:ios:a27ded197aee976f0d74b0</string>
</dict>
</plist>